.overview-section-content.row.section-content#overview
    h2.section-title= 'Overview'
    .section-text
        p= 'Our team presents the high-fidelity prototype of iOS application for our stakeholder, FemTechNet, which is the organization for the feminists in the US.This annotated portfolio shows the process of design through research from the ethnography interviews, finding problems, design research and possible solutions with prototypes.'
        p= 'This design process shows the first three months of a year-long senior capstone project in Interactive Media Design in University of Washington.'