.rootpage-container
    .header-section-container
    .overview-section-container.container
    .problem-section-container.container
    .research-section-container
    .solution-section-container.container
    .conclusion-section-container.container
    .reflection-section-container.container
    .workCited-section-container.container
    .footer-section-container